body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.game-container{
  text-align: center;
}

.new-game-btn {
  margin-top: 10px;
  background-color: #007BFF;
  width: 180px;
  border: none;
  color: white;
  height: 26px;
}

.btn :hover {
  cursor: pointer;
  background-color: #0056B3;

}

.user-input {
  width: 210px;
  height: 25px;
  font-size: 17px;
  text-align: center;
}

.random-word {
  font-size: 25px;
}
