body {
  display: flex;
  /* sets the body to be a flex container */
  justify-content: center;
  align-items: center;
  /* the above two properties center the flex items both horizontally and vertically */
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.game-container {
  text-align: center;
}

.game-container__new-game-btn {
  margin-top: 10px;
  background-color: #007BFF;
  width: 180px;
  border: none;
  color: white;
  height: 26px;
}

.game-container__btn :hover {
  cursor: pointer;
  background-color: #0056B3;

}

.game-container__user-input {
  width: 210px;
  height: 25px;
  font-size: 17px;
  text-align: center;
}

.game-container__random-word {
  font-size: 25px;
}

.game-container__guessed-letters-area {
  margin-top: 25px;
}

.game-container__guessed-letters {
  list-style: none;
  margin-left: -35px;
}

.guess-history__item--correct {
  color: green;
}

.guess-history__item--incorrect {
  color: red;
}
